
    <section class="container">
        <div class="text-center my-5">
            <span class="h6 d-block">O MELHOR DESTINO DA SUA VIDA</span>
            <h2 class="display-4 text-primary">Descubra Dublin</h2>
        </div>
        <div class="row">
            <div class="col-md">
                <img src="~/Content/Images/local/foto-1.jpg" alt="Foto 1" class="img-fluid mb-4">
                <img src="~/Content/Images/local/foto-2.jpg" alt="Foto 2" class="img-fluid mb-4">
                <img src="~/Content/Images/local/foto-3.jpg" alt="Foto 3" class="img-fluid mb-4">
            </div>
            <div class="col-md">
                <img src="~/Content/Images/local/foto-4.jpg" alt="Foto 4" class="img-fluid mb-4">
                <img src="~/Content/Images/local/foto-5.jpg" alt="Foto 5" class="img-fluid mb-4">
            </div>
            <div class="col-md">
                <img src="~/Content/Images/local/foto-6.jpg" alt="Foto 6" class="img-fluid mb-4">
                <img src="~/Content/Images/local/foto-7.jpg" alt="Foto 7" class="img-fluid mb-4">
            </div>
        </div>
    </section>

    <section class="container">
        <div class="text-center my-5">
            <span class="h6 d-block">DESCUBRA O QUE ACONTECEU NA CIDADE</span>
            <h2 class="display-4 text-primary">Próximos Eventos</h2>
        </div>
        <table class="table table-hover-responsive-md">
            <thead>
                <tr>
                    <th scope="col">Data</th>
                    <th scope="col">Evento</th>
                    <th scope="col">Local</th>
                    <th scope="col">Ticket</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row">23/10</th>
                    <td>Julien Baker</td>
                    <td>The Academy</td>
                    <td><a href="#" class="btn btn-outline-primary btn-sm">Comprar Ticket </a></td>
                </tr>
                <tr>
                    <th scope="row">23/10</th>
                    <td>Julien Baker</td>
                    <td>The Academy</td>
                    <td><a href="#" class="btn btn-outline-primary btn-sm">Comprar Ticket </a></td>
                </tr>
                <tr>
                    <th scope="row">23/10</th>
                    <td>Julien Baker</td>
                    <td>The Academy</td>
                    <td><a href="#" class="btn btn-outline-primary btn-sm">Comprar Ticket </a></td>
                </tr>
            </tbody>
        </table>
    </section>

                                                                                                                       