
    <section class="container">
        <div class="my-5 text-center">
            <span class="h6 d-block">POSSUI ALGUMA DÚVIDA?</span>
            <h2 class="display-4 text-primary">Fale Conosco</h2>
        </div>
        <div class="row">
            <div class="col-lg mb-5">
                <form class="bg-light rounded p-4 box-shadow">
                    <div class="form-group">
                        <label for="clienteNome">Nome</label>
                        <input type="text" class="form-control" id="clienteNome">
                    </div>
                    <div class="form-group">
                        <label for="clienteEmail">Email</label>
                        <input type="email" class="form-control" id="clienteEmail">
                    </div>
                    <div class="form-group">
                        <label for="clienteMensagem">Mensagem</label>
                        <textarea class="form-control" id="clienteMensagem" rows="4"></textarea>
                    </div>
                    <button type="submit" class="btn btn-primary">Enviar</button>
                </form>
            </div>
            <div class="col-lg">
                <h2 class="h6">NOSSO ENDEREÇO</h2>
                <a href="#">
                    <img src="/Content/Images/mapa.png" alt="Endereço da empresa" class="img-fluid box-shadow rounded mb-4">
                </a>

                <h2 class="h6">DADOS DE CONTATO</h2>
                <ul class="list-unstyled text-secondary">
                    <li>caravan@caravan.com.br</li>
                    <li>21 99999-9999</li>
                    <li>De Seg. à Sex. das 8h às 18h</li>
                </ul>

                <h2 class="h6">REDES SOCIAIS</h2>
                <ul class="list-unstyled" style="max-width: 260px">
                    <li><a href="#" class="btn btn-outline-secondary btn-block mb-2 btn-sm">Facebook</a></li>
                    <li><a href="#" class="btn btn-outline-secondary btn-block mb-2 btn-sm">Twitter</a></li>
                    <li><a href="#" class="btn btn-outline-secondary btn-block mb-2 btn-sm">Youtube</a></li>
                </ul>
            </div>
        </div>
    </section>

    <section class="container">
        <div class="my-5 text-center">
            <span class="h6 d-block">AINDA ESTÁ COM DÚVIDAS?</span>
            <h2 class="display-4 text-primary">Perguntas Frequentes</h2>
        </div>
        <div class="row justify-content-center">
            <div class="col-md-6" id="perguntasFrequentes" data-children=".pergunta">
                <div class="pergunta py-2">
                    <a href="#pergunta1" class="lead" data-toggle="collapse" ria-expanded="true" aria-controls="pergunta1">→ É possível cancelar a viagem?</a>
                    <div id="pergunta1" class="collapse show" role="tabpanel" data-parent="#perguntasFrequentes">
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed pretium lorem non vestibulum scelerisque. Proin a vestibulum sem, eget tristique massa. Aliquam lacinia rhoncus nibh quis ornare.</p>
                    </div>
                </div>
                <div class="dropdown-divider"></div>
                <div class="pergunta py-2">
                    <a href="#pergunta2" class="lead" data-toggle="collapse" ria-expanded="true" aria-controls="pergunta2">→ Qual a garantia que tenho se perder o voo?</a>
                    <div id="pergunta2" class="collapse" role="tabpanel" data-parent="#perguntasFrequentes">
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed pretium lorem non vestibulum scelerisque. Proin a vestibulum sem, eget tristique massa. Aliquam lacinia rhoncus nibh quis ornare.</p>
                    </div>
                </div>
                <div class="dropdown-divider"></div>
                <div class="pergunta py-2">
                    <a href="#pergunta3" class="lead" data-toggle="collapse" ria-expanded="true" aria-controls="pergunta3">→ Qual a principal forma de viagem?</a>
                    <div id="pergunta3" class="collapse" role="tabpanel" data-parent="#perguntasFrequentes">
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed pretium lorem non vestibulum scelerisque. Proin a vestibulum sem, eget tristique massa. Aliquam lacinia rhoncus nibh quis ornare.</p>
                    </div>
                </div>
                <div class="dropdown-divider"></div>
                <div class="pergunta py-2">
                    <a href="#pergunta4" class="lead" data-toggle="collapse" ria-expanded="true" aria-controls="pergunta4">→ Qual o melhor destino de viagem?</a>
                    <div id="pergunta4" class="collapse" role="tabpanel" data-parent="#perguntasFrequentes">
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed pretium lorem non vestibulum scelerisque. Proin a vestibulum sem, eget tristique massa. Aliquam lacinia rhoncus nibh quis ornare.</p>
                    </div>
                </div>
                <div class="dropdown-divider"></div>
                <div class="pergunta py-2">
                    <a href="#pergunta5" class="lead" data-toggle="collapse" ria-expanded="true" aria-controls="pergunta5">→ Vocês dão descontos para grupos grandes?</a>
                    <div id="pergunta5" class="collapse" role="tabpanel" data-parent="#perguntasFrequentes">
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed pretium lorem non vestibulum scelerisque. Proin a vestibulum sem, eget tristique massa. Aliquam lacinia rhoncus nibh quis ornare.</p>
                    </div>
                </div>
                <div class="dropdown-divider"></div>
            </div>
        </div>
        <div class="text-center my-4">
            <p class="small m-1">FALE CONOSCO PARA MAIS DÚVIDAS</p>
            <a href="contato.html" class="btn btn-primary">Entre em Contato</a>
        </div>
    </section>
                                                                                                                     